<!DOCTYPE html>
<html>
<head>
    <title>Redeem Code Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1>Redeem Code Generator</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Generate Codes</button>
    </form>
</div>
{% if redeem_codes %}
        <h2>Generated Codes:</h2>
        <ul>
            {% for code, value in redeem_codes %}
                <li>{{ code }} - {{ value }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
