{% extends 'base.html' %}

{% block content %}
    <h1>Admin Panel - Users List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>is_admin</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in object_list %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.is_staff }}</td>
                <td>
                    <a href="{% url 'admin_app:user_detail' user.id %}" class="btn btn-primary">View</a>
                    <a href="{% url 'admin_app:user_edit' user.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'admin_app:user_delete' user.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
